body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #2c2d32, #11dafe, #42dcf8);
}

.navbar {
    width: 90%;
    max-width: 1400px;
    height: 95px;
    margin: 20px auto;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.70);
}

.navbar-logo img {
    width: 90px;
    cursor: pointer;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 45px;
    list-style: none;
}

.navbar-links li {
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.navbar-links li:hover {
    color: #f59048;
    transform: translateY(-4px);
    border-bottom: 2px solid #f59048;
}

.navbar-account {
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    background: #f59048;
    color: white;
    padding: 14px 24px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: 0.2s;
}

.navbar-account:hover {
    transform: translateY(-4px);
    color: black;
}

.navbar-account svg {
    font-size: 20px;
}